/*
  Color palette:
    Primary: #dd1125
    Secondary: #f4d35e
    Tertiary: #8cbcb9
    Text: #222
    Negative space/background: #e4e4e4

*/

.container {
  background: #e4e4e4;
}

header {
  background: #dd1125;
}

footer {
  background: #f4d35e;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
