.support {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    background: #e4e4e4;
  }
  
  .support-story {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 5px;
    grid-template-areas:
      'story-header story-header'
      'story-img story-description';
    justify-content: center;
  }
  
  .support-story h1 {
    color:#000090;
    text-align: center;
    grid-area: story-header;
    font-size: 3rem;
  }
  
  .support-story .img-container {
    text-align: center;
    grid-area: story-img;
  }
  
  .support-story .img-container img {
    width: 90%;
    height: auto;
    border-radius: 10px;
  }
  .support-story p {
    grid-area: story-description;
  }
  
  .support-faq {
    margin-left: 2%;
    margin-top: 1rem;
  }
  
  .support-faq h4 {
    margin-left: 0.5rem;
    color:#000090;
  }
  
  .support-faq p {
    margin-left: 1rem;
  }
  