<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Node Boilerplate</a>
  <div
    class="collapse navbar-collapse d-flex justify-content-between"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>

    <ul class="navbar-nav">
      <% if(locals.signedIn) { %>
      <li class="nav-item"><a href="/signout" class="nav-link">Sign Out</a></li>
      <% } else { %>
      <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a></li>
      <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
      <% } %>
    </ul>
  </div>
</nav>
