<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup Page</title>
    <% include partials/head-tags %>
  </head>
  <body>
    <% include partials/navbar %>

    <div class="container w-50 mt-5 p-4 rounded border border-dark">
      <h3 class="text-center">Sign Up</h3>

      <% if(error_msg != false){ %>
      <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>

      <form method="POST" action="/users/createUser">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Enter Username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter Password"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
