<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Us</title>
    <% include partials/head-tags %>
  </head>
  <body>
    <% include partials/header %>
    <main class="container">
      <div class="about">
        <div class="about-story">
          <div class="img-container">
            <img src="./images/dog.jpeg" alt="About Picture" />
          </div>
          <h1>Our Story</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            quaerat harum minima libero cupiditate delectus, officiis vel fugiat
            fuga repellendus unde, placeat deleniti consectetur labore maxime
            similique, suscipit hic pariatur! Odit, possimus perspiciatis totam
            dolorem est rem quasi sint molestiae labore non fuga? Laudantium
            quam perferendis sunt totam quo ex, adipisci alias placeat saepe
            corrupti consequuntur optio vitae quia autem. Eaque pariatur culpa
            aspernatur esse, corporis aliquid repellat dignissimos nulla
            incidunt accusamus, nesciunt quidem? Sunt suscipit iure ea nostrum
            amet nam enim, aperiam consequuntur doloremque commodi deleniti
            tempore perspiciatis libero? Neque atque perspiciatis eius hic rem
            numquam inventore magnam, corrupti, nulla ipsum velit iusto. Error
            laboriosam iure itaque aperiam? Voluptate saepe modi facere corporis
            aliquam quod blanditiis autem deserunt odit.
          </p>
        </div>

        <hr/>
        <div class="about-faq">
          <h2>Frequently Asked Questions:</h2>
          <h4>Where are you located?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus doloribus temporibus blanditiis molestiae qui illo deserunt pariatur optio beatae veniam autem deleniti culpa, animi tempore eligendi expedita sequi cupiditate!</p>
          <h4>Why did you start this business?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam deleniti eum, quia inventore aliquid aspernatur culpa id cum sit aut necessitatibus atque voluptatibus pariatur. Nobis sequi qui natus. Fugiat.</p>
          <h4>Are you really any good?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam deleniti eum, quia inventore aliquid aspernatur culpa id cum sit aut necessitatibus atque voluptatibus pariatur. Nobis sequi qui natus. Fugiat.</p>
          <h4>How much have you made with it so far?</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam deleniti eum, quia inventore aliquid aspernatur culpa id cum sit aut necessitatibus atque voluptatibus pariatur. Nobis sequi qui natus. Fugiat.</p>
        </div>
      </div>
    </main>
    <% include partials/footer %>

  </body>
</html>
