<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/head-tags %>
  </head>
  <body>
    <% include partials/navbar %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="./images/dog.jpeg" alt="A pretty dog" />

    <% include partials/bootstrap-scripts %>
  </body>
</html>
