<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Support Page</title>
    <% include partials/head-tags %>
  </head>
  <body>
    <% include partials/header %>
    <link rel="stylesheet" type="text/css" href="./stylesheets/support.css"
    <main class="container">
      <div class="support">
        <div class="support-story">
          <div class="img-container">
            <img src="./images/support_img.png" alt="Support Picture" />
          </div>
          <h1>Support</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            quaerat harum minima libero cupiditate delectus, officiis vel fugiat
            fuga repellendus unde, placeat deleniti consectetur labore maxime
            similique, suscipit hic pariatur! Odit, possimus perspiciatis totam
            dolorem est rem quasi sint molestiae labore non fuga? Laudantium
            quam perferendis sunt totam quo ex, adipisci alias placeat saepe
            corrupti consequuntur optio vitae quia autem. Eaque pariatur culpa
            aspernatur esse, corporis aliquid repellat dignissimos nulla
            incidunt accusamus, nesciunt quidem? Sunt suscipit iure ea nostrum
            amet nam enim, aperiam consequuntur doloremque commodi deleniti
            tempore perspiciatis libero? Neque atque perspiciatis eius hic rem
            numquam inventore magnam, corrupti, nulla ipsum velit iusto. Error
            laboriosam iure itaque aperiam? Voluptate saepe modi facere corporis
            aliquam quod blanditiis autem deserunt odit.
          </p>
        </div>

        <hr/>
        <div class="support-faq">
          <h2>Frequently Asked Questions:</h2>
          <h4>Where do I contact if I find a bug in the website?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus doloribus temporibus blanditiis molestiae qui illo deserunt pariatur optio beatae veniam autem deleniti culpa, animi tempore eligendi expedita sequi cupiditate!</p>
          <h4>Can I make any suggestions to make the website better?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam deleniti eum, quia inventore aliquid aspernatur culpa id cum sit aut necessitatibus atque voluptatibus pariatur. Nobis sequi qui natus. Fugiat.</p>
          <h4>Who do I contact if I have an issue with my order?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam deleniti eum, quia inventore aliquid aspernatur culpa id cum sit aut necessitatibus atque voluptatibus pariatur. Nobis sequi qui natus. Fugiat.</p>
          <h4>What is your return/refund policy?</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aliquam deleniti eum, quia inventore aliquid aspernatur culpa id cum sit aut necessitatibus atque voluptatibus pariatur. Nobis sequi qui natus. Fugiat.</p>
        </div>
      </div>
    </main>
    <% include partials/footer %>

  </body>
</html>
