<div>
  <h1><%= author %></h1>

  <ul>
    <% for(let i = 0; i < books.length; i++) { %>
    <li><%= books[i] %></li>
    <% } %>
  </ul>
</div>

<!--
  <script>
    const ul = document.querySelector('ul');
    const books = [<%= books %>] // Doesn't quite work because you need strings around each book
    console.log(books);
  </script>
-->
